# 2. Search Engine

The first search engine given a query in input finds all the books that have all the words in the plots.

First of all we remove stop words from the plots.

Second we build a reversed index that maps each word to the all documents that contain the word, useful for the search engine.

In the end we build the search engine.

In [23]:
import pandas as pd
import glob
import os
import re
from langdetect import detect
import nltk

In [22]:
from our_functions import *

In [25]:
extension = 'tsv'
filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
column_names = ['title', 'series', 'author', 'ratingValue', 'ratingCount', 'plots', 'reviewCount', 'date', 'characters', 'settings', 'url']

In [30]:
dataset = pd.concat([pd.read_csv(f, sep='\t', header=None, names = column_names) for f in filenames], axis = 0)

In [31]:
numbers = list(map(lambda x : int(re.search("[0-9]+" ,x).group(0)), filenames))

In [32]:
dataset["index"] = numbers

In [33]:
ds = dataset.sort_values(by=['index'])

In [38]:
ds.head()

,title,series,author,ratingValue,ratingCount,plots,reviewCount,date,characters,settings,url,index
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,6414062.0,"Could you survive on your own in the wild, wit...",374.0,September 14th 2008,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12 Panem, Capitol Panem, Panem",https://www.goodreads.com/book/show/2767052-th...,1
0,Harry Potter and the Order of the Phoenix,Harry Potter #5,J.K. Rowling,4.50,2528402.0,There is a door at the end of a silent corrido...,870.0,September 2004,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...","Hogwarts School of Witchcraft and Wizardry, Lo...",https://www.goodreads.com/book/show/2.Harry_Po...,2
0,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,4532078.0,The unforgettable novel of a childhood in a sl...,324.0,May 23rd 2006,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...",Maycomb Alabama,https://www.goodreads.com/book/show/2657.To_Ki...,3
0,Pride and Prejudice,NaN,Jane Austen,4.26,3021524.0,"Since its immediate success in 1813, Pride and...",279.0,October 10th 2000,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","United Kingdom, Derbyshire England, England, H...",https://www.goodreads.com/book/show/1885.Pride...,4
0,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,4994637.0,About three things I was absolutely positive.F...,501.0,September 6th 2006,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks Washington, Phoenix Arizona, Washington ...",https://www.goodreads.com/book/show/41865.Twil...,5

In [35]:
#drop rows where there is not plot
ds = ds.dropna(subset = ['plots'])

In [39]:
#check if the plot is in english
def is_english(plot):
    try:
        result = (detect(plot) == 'en')
    except:
        #where the plot is empty
        result = False
    return(result)

In [40]:
#discard not eglish plot
df = ds[list(map(lambda x : is_english(x), list(ds['plots'])))]

In [41]:
plots = df[['plots', 'index']]

In [44]:
plots.head()

                                               plots  index
0  Could you survive on your own in the wild, wit...      1
0  There is a door at the end of a silent corrido...      2
0  The unforgettable novel of a childhood in a sl...      3
0  Since its immediate success in 1813, Pride and...      4
0  About three things I was absolutely positive.F...      5

In [54]:
#save the dataset of file
df.to_csv('books_dataset.tsv', sep = '\t', index=False)

### Remove Stop Word

In [34]:
from nltk.corpus import stopwords

In [35]:
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alessandra\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [95]:
from nltk.tokenize import RegexpTokenizer

In [40]:
 nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [36]:
stop_words = set(stopwords.words('english'))

In [178]:
def remove_stop_word(phrases):
    tokenizer = RegexpTokenizer(r'[a-z]+')
    word = tokenizer.tokenize(phrases.lower())
    return [w for w in word if w not in stop_words]

In [179]:
plots['words'] = plots.apply(lambda x : remove_stop_word(x['plots']), axis=1)

<ipython-input-179-a5dbe89053a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plots['words'] = plots.apply(lambda x : remove_stop_word(x['plots']), axis=1)

In [180]:
plots.head()

,plots,index,words
0,"Could you survive on your own in the wild, wit...",1,"[could, survive, wild, every, one, make, sure,..."
0,There is a door at the end of a silent corrido...,2,"[door, end, silent, corridor, haunting, harry,..."
0,The unforgettable novel of a childhood in a sl...,3,"[unforgettable, novel, childhood, sleepy, sout..."
0,"Since its immediate success in 1813, Pride and...",4,"[since, immediate, success, pride, prejudice, ..."
0,About three things I was absolutely positive.F...,5,"[three, things, absolutely, positive, first, e..."

In [181]:
words = plots[['words', 'index']]

In [182]:
words.head()

                                               words  index
0  [could, survive, wild, every, one, make, sure,...      1
0  [door, end, silent, corridor, haunting, harry,...      2
0  [unforgettable, novel, childhood, sleepy, sout...      3
0  [since, immediate, success, pride, prejudice, ...      4
0  [three, things, absolutely, positive, first, e...      5

In [183]:
words = words.explode(column='words')

In [196]:
inverted_index = words.groupby('words')['index'].apply(list).to_dict()

In [239]:
keys = list(inverted_index.keys())

Below we see a piece of the reversed index that maps each word to the relativies document id:

In [7]:
for k in keys[500:510]:
    print(k,':', inverted_index[k])

adamantine : [23332]
adamantly : [28435]
adamat : [6384]
adams : [156, 283, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 658, 768, 814, 1945, 2923, 3001, 3410, 3464, 3860, 4313, 4639, 4639, 4639, 4639, 4764, 5270, 5790, 6353, 6353, 7057, 7085, 7314, 7461, 8373, 9067, 9272, 9272, 9272, 9564, 9576, 9995, 20632, 20670, 20670, 20905, 20905, 21797, 22517, 22622, 22738, 22831, 23286, 23306, 23390, 23948, 24385, 25093, 25093, 25093, 25093, 25357, 25383, 25795, 25999, 26514, 26775, 27273, 27273, 27273, 27273, 27273, 27273, 27273, 27301, 28436, 28670, 28879, 29428, 29620, 29825]
adamsdebated : [9067]
adamson : [6414, 6414, 8530]
adan : [26775, 27515]
adana : [22622]
adapt : [300, 1039, 1445, 1880, 2813, 2962, 2962, 3154, 3545, 4262, 4330, 5949, 5980, 6431, 6785, 7071, 8265, 8297, 9140, 9204, 9207, 9628, 9908, 20875, 21009, 21419, 22532, 23188, 23848, 23927, 24134, 24509, 24897, 26022, 26759, 27454, 27824, 28509, 28549, 28742, 28742, 28890, 28912, 29106, 29829]
adaptability : [20004, 26994]

In [197]:
#save on file
import json
with open('inverted_index.json', 'w') as fp:
    json.dump(inverted_index, fp)

## 2.1.2) Execute the query

In [378]:
import json
import pandas as pd
from nltk.corpus import stopwords 
from nltk.stem import PorterStemmer
from nltk.tokenize import RegexpTokenizer

In [379]:
pd.set_option('display.max_colwidth', None)

In [380]:
from functools import reduce

In [381]:
#load the file 
with open('inverted_index.json','r') as fp:
    inverted_index = json.load(fp)

In [382]:
#load the dateset
dataset = pd.read_csv('books_dataset.tsv', sep='\t', index_col=None)

In [384]:
dataset = dataset[['title', 'plots','url', 'number']]

In [385]:
def clean_text(text):
    stop_words = set(stopwords.words('english'))
    tokenizer = RegexpTokenizer("[a-z]+")
    tokens = tokenizer.tokenize(text.lower())
    result = [word for word in tokens if not word in stop_words]
    return tokens

In [386]:
def search_engine_io(dataset, inverted_index):
    query = input('Insert words to seach: ')
    return search_engine(dataset, inverted_index,query)

In [387]:
def search_engine(dataset, inverted_index, query):    
    query_items = clean_text(query) #remove stop word
    numbers_docs =[set(inverted_index[q]) for q in query_items] #get sets of number' documents for each query word
    and_results = reduce(set.intersection, numbers_docs) #compute the overall intersections between sets
    return and_results

In [388]:
results = search_engine_io(dataset, inverted_index) # survival, games
dataset[dataset.number.isin(results)]

Insert words to seach: survival games

,title,plots,url,number
0,The Hunger Games,"Could you survive on your own in the wild, with every one out to make sure you don't live to see the morning?In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and one girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.Sixteen-year-old Katniss Everdeen, who lives alone with her mother and younger sister, regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead before—and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love.",https://www.goodreads.com/book/show/2767052-the-hunger-games,1
4630,"The Maze Runner Trilogy (Maze Runner, #1-3)","The perfect gift for fans of The Hunger Games and Divergent, this boxed set of the paperback editions of James Dashner's New York Times bestselling series includes The Maze Runner, The Scorch Trials, and The Death Cure. The Maze Runner motion picture featuring the star of MTV's Teen Wolf, Dylan O'Brien; Kaya Scodelario; Aml Ameen; Will Poulter; and Thomas Brodie-Sangster, and hits theaters September 19, 2014 Also look for James Dashner's newest book The Eye of Minds, book one in the Mortality Doctrine series. If you ain't scared, you ain't human. When Thomas wakes up in the lift, the only thing he can remember is his name. He's surrounded by strangers--boys whose memories are also gone. Nice to meet ya, shank. Welcome to the Glade. Outside the towering stone walls that surround the Glade is a limitless, ever-changing maze. It's the only way out--and no one's ever made it through alive. Everything is going to change. Then a girl arrives. The first girl ever. And the message she delivers is terrifying. Remember. Survive. Run. Praise for the Maze Runner series: A] mysterious survival saga that passionate fans describe as a fusion of Lord of the Flies, The Hunger Games, and Lost.--EW.com Wonderful action writing--fast-paced...but smart and well observed.--Newsday A] nail-biting must-read.--Seventeen.com Breathless, cinematic action. --Publishers Weekly Heart-pounding to the very last moment. --Kirkus Reviews Exclamation-worthy. --Romantic Times STAR] James Dashner's illuminating prequel The Kill Order] will thrill fans of this Maze Runner series] and prove just as exciting for readers new to the series. --Shelf Awareness, Starred",https://www.goodreads.com/review/show/857746984,4804
9172,Londonstani,"Jas is in trouble. Because of who he is-an eighteen-year-old Asian living in London. Because of the gang he hangs out with. And because of the woman he fancies, Samira, who Jas shouldn't have taken a shining to because she is, as his pals point out, not one of his own. He's in trouble because his education, never mind his career, is going nowhere. And he's fallen into the schemes, games and prejudices of his friends on the streets of the big western city in which he lives. But Jas's main trouble is Jas himself, and he doesn't even know the trouble he's in, and try as hard as he does, he's failing to make sense of what it is to be young, male and what you might say is Indostani in a city that professes to be a melting pot but is a city of racial and religious exclusion zones. Without his parents' aspirations to assimilate, without the gifts of his more academically accomplished contemporaries, Jas is a young man without a survival plan to get by in the big city. He's out of touch, an anachronism posing as young man who's up-to-date, living free-style, making things up as he goes along in suburbs of West London. Gautam Malkani's extraordinary comic novel portrays the lives of young Muslim, Sikh, and Hindu men in the ethnically charged enclave of one of the biggest western cities, London. A world usually-but wrongly-portrayed as the breeding ground for Islamic militants is, in actuality, a world of money (sometimes), flash cars (usually), cell phones (all the time), rap music and MTV, as well as rivalries and feuds, and the small-time crooks who exploit them. In Malkani's hilarious depiction of multiculturalism, race is no more than a proxy for masculinity, or lack of masculinity, among young men struggling to get by in a remorseless city. Just as Martin Amis and Irving Welsh captured the mood and the ethos of the eighties and nighties, twenty-nine-year-old Gautam Malkani brilliantly evokes the life of immigrants who are not immigrants in Londonstani, bringing an entirely fresh perspective to contemporary fiction as he does so.",https://www.goodreads.com/review/show/39876981,9706
9840,The Warden,"Alice has led a normal life up until now. She wakes up finding herself trapped in a sick game of survival within the walls of an old asylum. She has to fight her way out while facing psychotic enemies, no one said they were all living psychopaths though... When she discovers how she got there she is forced to make difficult decisions. Will Alice survive the horror games?",https://www.goodreads.com/review/show/2054142668,20474
15562,Everything Beautiful Is Not Ruined,"Then Ingrid traveled all over Europe with her opera star mother, Margot-Sophia. Life was beautiful and bright, and every day soared with music. Now Ingrid is on a summertime wilderness survival trek for at-risk teens: addicts, runaways, and her. She's fighting to survive crushing humiliations, physical challenges that push her to her limits, and mind games that threaten to break her. Then When the curtain fell on Margot-Sophia's singing career, they buried the past and settled into a small, painfully normal life. But Ingrid longed to let the music soar again. She wanted it so much that, for a while, nothing else mattered. Now Ingrid is never going to make it through this summer if she can't figure out why she's here, what happened to Margot-Sophia, and why the music really stopped.""",https://www.goodreads.com/review/show/2555117352,27548
16429,Inside the Maze Runner: The Guide to the Glade,"The first book in James Dashner’s New York Times bestselling Maze Runner series is soon to be a major motion picture. Featuring the star of MTV's Teen Wolf, Dylan O’Brien; Kaya Scodelario; Aml Ameen; Will Poulter; and Thomas Brodie-Sangster, the movie will be in theaters September 19, 2014. The Maze Runner is perfect for fans of The Hunger Games and Divergent. Explore the Glade and uncover the secrets to the Maze in the ultimate Maze Runner movie companion book. This action-packed volume features more than 100 thrilling full-color photographs, up-close profiles of the Gladers, and details about the Glade, the Maze, and more! A must-have for fans of the Maze Runner series, who’ll want to learn all they can before The Maze Runner movie hits theaters on September, 19, 2014. \nPraise for the Maze Runner series:\n ""[A] mysterious survival saga that passionate fans describe as a fusion of Lord of the Flies, The Hunger Games, and Lost.""—EW.com “Wonderful action writing—fast-paced…but smart and well observed.”—Newsday “[A] nail-biting must-read.”—Seventeen.com “Breathless, cinematic action.” —Publishers Weekly “Heart-pounding to the very last moment.” —Kirkus Reviews “Exclamation-worthy.” —Romantic Times [STAR] “James Dashner’s illuminating prequel [The Kill Order] will thrill fans of this Maze Runner [series] and prove just as exciting for readers new to the series.”—Shelf Awareness, Starred",https://www.goodreads.com/review/show/1012316501,28617
17480,Indian Hill,"A Michael Talbot Adventure: This first story is about an ordinary boy, who grows up in relatively normal times to find himself thrust into an extra-ordinary position. Growing up in suburban Boston he enjoys the trials and tribulations that all adolescents go through. From the seemingly tyrannical mother, to girl problems to run-ins with the law. From there he escapes to college out in Colorado with his best friend, Paul, where they begin to forge new relationships with those around them. It is one girl in particular that has caught the eye of Michael and he alternately pines for her and then laments ever meeting her. It is on their true 'first' date that things go strangely askew. This is where the story truly takes a paranormal twist. Mike soon finds himself captive aboard an alien vessel, fighting for his very survival. The aliens have devised gladiator type games. The games are of two-fold importance for the aliens. One reason, being for the entertainment value, the other reason being that they want to see how combative humans are, what our weaknesses and strengths are. They want to better learn how to attack and defeat us. The battles are to the death on varying terrains that are computer generated. Follow Mike as he battles for his life and Paul has he battles to keep main stream US safe.",https://www.goodreads.com/review/show/1657572657,29953

# 2.2) Conjunctive query & Ranking score

For the second search engine, given a query, we get the top-5 documents related to the query,
finding all the documents that contains all the words in the query, sort them by their similarity with the query using a heap data structure for maintaining the top-k documents.

## 2.2.1 Inverted index

In [1]:
import pandas as pd
import heapq
import os  
import sys  
import json
import numpy as np

In [2]:
dataset = pd.read_csv('books_dataset.tsv', sep='\t', index_col=None)

In [3]:
dataset.head(5)

,title,series,author,ratingValue,ratingCount,plots,reviewCount,date,characters,settings,url,index
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,6414062.0,"Could you survive on your own in the wild, wit...",374.0,September 14th 2008,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12 Panem, Capitol Panem, Panem",https://www.goodreads.com/book/show/2767052-th...,1
1,Harry Potter and the Order of the Phoenix,Harry Potter #5,J.K. Rowling,4.50,2528402.0,There is a door at the end of a silent corrido...,870.0,September 2004,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...","Hogwarts School of Witchcraft and Wizardry, Lo...",https://www.goodreads.com/book/show/2.Harry_Po...,2
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,4532078.0,The unforgettable novel of a childhood in a sl...,324.0,May 23rd 2006,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...",Maycomb Alabama,https://www.goodreads.com/book/show/2657.To_Ki...,3
3,Pride and Prejudice,NaN,Jane Austen,4.26,3021524.0,"Since its immediate success in 1813, Pride and...",279.0,October 10th 2000,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","United Kingdom, Derbyshire England, England, H...",https://www.goodreads.com/book/show/1885.Pride...,4
4,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,4994637.0,About three things I was absolutely positive.F...,501.0,September 6th 2006,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks Washington, Phoenix Arizona, Washington ...",https://www.goodreads.com/book/show/41865.Twil...,5

In [4]:
df = dataset[['title','plots','author','characters','settings','url','index']]
df.head(5)

,title,plots,author,characters,settings,url,index
0,The Hunger Games,"Could you survive on your own in the wild, wit...",Suzanne Collins,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12 Panem, Capitol Panem, Panem",https://www.goodreads.com/book/show/2767052-th...,1
1,Harry Potter and the Order of the Phoenix,There is a door at the end of a silent corrido...,J.K. Rowling,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...","Hogwarts School of Witchcraft and Wizardry, Lo...",https://www.goodreads.com/book/show/2.Harry_Po...,2
2,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,Harper Lee,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...",Maycomb Alabama,https://www.goodreads.com/book/show/2657.To_Ki...,3
3,Pride and Prejudice,"Since its immediate success in 1813, Pride and...",Jane Austen,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","United Kingdom, Derbyshire England, England, H...",https://www.goodreads.com/book/show/1885.Pride...,4
4,Twilight,About three things I was absolutely positive.F...,Stephenie Meyer,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks Washington, Phoenix Arizona, Washington ...",https://www.goodreads.com/book/show/41865.Twil...,5

In [5]:
df.isnull().sum()

title             1
plots             0
author            1
characters    11070
settings      12235
url               2
index             0
dtype: int64

In [6]:
df['title'].fillna('', inplace=True)
df['url'].fillna('', inplace=True)
df['author'].fillna('', inplace=True)
df['characters'].fillna('', inplace=True)
df['settings'].fillna('', inplace=True)

C:\Users\14193\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [7]:
df.isnull().sum()

title         0
plots         0
author        0
characters    0
settings      0
url           0
index         0
dtype: int64

In [8]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer

In [9]:
stop_words = set(stopwords.words('english'))

In [10]:
def remove_stop_word(phrases):
    tokenizer = RegexpTokenizer(r'[a-z]+')
    word = tokenizer.tokenize(phrases.lower())
    return [w for w in word if w not in stop_words]

In [11]:
df['title'] = df.apply(lambda x : remove_stop_word(x['title']), axis=1)
df['plots'] = df.apply(lambda x : remove_stop_word(x['plots']), axis=1)
df['author'] = df.apply(lambda x : remove_stop_word(x['author']), axis=1)
df['characters'] = df.apply(lambda x : remove_stop_word(x['characters']), axis=1)
df['settings'] = df.apply(lambda x : remove_stop_word(x['settings']), axis=1)

<ipython-input-11-5473df57246b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title'] = df.apply(lambda x : remove_stop_word(x['title']), axis=1)
<ipython-input-11-5473df57246b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['plots'] = df.apply(lambda x : remove_stop_word(x['plots']), axis=1)
<ipython-input-11-5473df57246b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['author'] = df.apply(lambda x : remove_stop_word(x['author']), axis=1)
<ipython-input-11-5473df57246b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['characters'] = df.apply(lambda x : remove_stop_word(x['characters']), axis=1)
<ipython-input-11-5473df57246b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['settings'] = df.apply(lambda x : remove_stop_word(x['settings']), axis=1)

In [12]:
df.head()

,title,plots,author,characters,settings,url,index
0,"[hunger, games]","[could, survive, wild, every, one, make, sure,...","[suzanne, collins]","[katniss, everdeen, peeta, mellark, cato, hung...","[district, panem, capitol, panem, panem]",https://www.goodreads.com/book/show/2767052-th...,1
1,"[harry, potter, order, phoenix]","[door, end, silent, corridor, haunting, harry,...","[j, k, rowling]","[sirius, black, draco, malfoy, ron, weasley, p...","[hogwarts, school, witchcraft, wizardry, londo...",https://www.goodreads.com/book/show/2.Harry_Po...,2
2,"[kill, mockingbird]","[unforgettable, novel, childhood, sleepy, sout...","[harper, lee]","[scout, finch, atticus, finch, jem, finch, art...","[maycomb, alabama]",https://www.goodreads.com/book/show/2657.To_Ki...,3
3,"[pride, prejudice]","[since, immediate, success, pride, prejudice, ...","[jane, austen]","[mr, bennet, mrs, bennet, jane, bennet, elizab...","[united, kingdom, derbyshire, england, england...",https://www.goodreads.com/book/show/1885.Pride...,4
4,[twilight],"[three, things, absolutely, positive, first, e...","[stephenie, meyer]","[edward, cullen, jacob, black, laurent, renee,...","[forks, washington, phoenix, arizona, washingt...",https://www.goodreads.com/book/show/41865.Twil...,5

In [13]:
type(df['title'][0])

list

> Combining all words from "title", "plots", "author", "character" and "settings" as a words list.

In [14]:
words=[] 
all_words = [] 
for i in range(len(df)):
    c_all = []
    for wordt in df['title'][i]:
        words.append(wordt)
        c_all.append(wordt)
    for wordp in df['plots'][i]:
        words.append(wordp)
        c_all.append(wordp)
    for worda in df['author'][i]:
        words.append(worda)
        c_all.append(worda)
    for wordc in df['characters'][i]:
        words.append(wordc)
        c_all.append(wordc)
    for wordst in df['settings'][i]:
        words.append(wordst)
        c_all.append(wordst)
    all_words .append(c_all)
df["All Words"] = pd.Series(all_words)
df.head(5)

<ipython-input-14-1ca1c0426f1d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["All Words"] = pd.Series(all_words)

,title,plots,author,characters,settings,url,index,All Words
0,"[hunger, games]","[could, survive, wild, every, one, make, sure,...","[suzanne, collins]","[katniss, everdeen, peeta, mellark, cato, hung...","[district, panem, capitol, panem, panem]",https://www.goodreads.com/book/show/2767052-th...,1,"[hunger, games, could, survive, wild, every, o..."
1,"[harry, potter, order, phoenix]","[door, end, silent, corridor, haunting, harry,...","[j, k, rowling]","[sirius, black, draco, malfoy, ron, weasley, p...","[hogwarts, school, witchcraft, wizardry, londo...",https://www.goodreads.com/book/show/2.Harry_Po...,2,"[harry, potter, order, phoenix, door, end, sil..."
2,"[kill, mockingbird]","[unforgettable, novel, childhood, sleepy, sout...","[harper, lee]","[scout, finch, atticus, finch, jem, finch, art...","[maycomb, alabama]",https://www.goodreads.com/book/show/2657.To_Ki...,3,"[kill, mockingbird, unforgettable, novel, chil..."
3,"[pride, prejudice]","[since, immediate, success, pride, prejudice, ...","[jane, austen]","[mr, bennet, mrs, bennet, jane, bennet, elizab...","[united, kingdom, derbyshire, england, england...",https://www.goodreads.com/book/show/1885.Pride...,4,"[pride, prejudice, since, immediate, success, ..."
4,[twilight],"[three, things, absolutely, positive, first, e...","[stephenie, meyer]","[edward, cullen, jacob, black, laurent, renee,...","[forks, washington, phoenix, arizona, washingt...",https://www.goodreads.com/book/show/41865.Twil...,5,"[twilight, three, things, absolutely, positive..."

> Create a vacabulary that contains all the words with a unique index can be searched.

In [15]:
words=set(words)
words = list(words)
vocab={}
for i in range(len(words)):
    vocab.update({words[i] : i })
with open("vocabulary.json", "w", encoding = "utf8") as v:
    v.write(json.dumps(vocab))
    
for i in range(len(df)):
    for j in range(len(df["All Words"][i])):
        if df["All Words"][i][j] in vocab.keys():
            df["All Words"][i][j] = vocab[df["All Words"][i][j]]

> Statistical word frequency

In [16]:
from collections import Counter
df["All Words"] = df["All Words"].apply(lambda x : Counter(x))

<ipython-input-16-2efc5abdc4f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["All Words"] = df["All Words"].apply(lambda x : Counter(x))

> tfidf(Term Frequency–Inverse Document Frequency):  
It’s a way to score the importance of words (or “terms”) in a document based on how frequently they appear across multiple documents.    
(1)Term Frequency (tf): Gives us the frequency of the word in each document in the dataset. It is the ratio of number of times the word appears in a document compared to the total number of words in that document. It increases as the number of occurrences of that word within the document increases.  
$tf_{i,j}=\frac {n_{i,j}}  {\sum_{k}{n_{i,j}}}$  
(2)Inverse Data Frequency (idf): Used to calculate the weight of rare words across all documents in the dataset. The words that occur rarely in the dataset have a high IDF score.  
$idf(w)=log(\frac{N}{df_t})$  
$tfidf=tf*idf$

In [17]:
def Term_Frequency(doc_words):
    bow = 0
    for k, v in doc_words.items():
        bow = bow + v
    tf_word = {}
    for word, count in doc_words.items():
        tf_word[word] = count / float(bow)
    return tf_word

In [18]:
TF = []
for i in range(len(df["All Words"])):
    TF.append(Term_Frequency(df["All Words"][i]))
df["TF"] = TF

<ipython-input-18-c4098c20c2ae>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["TF"] = TF

In [19]:
df.head(5)

,title,plots,author,characters,settings,url,index,All Words,TF
0,"[hunger, games]","[could, survive, wild, every, one, make, sure,...","[suzanne, collins]","[katniss, everdeen, peeta, mellark, cato, hung...","[district, panem, capitol, panem, panem]",https://www.goodreads.com/book/show/2767052-th...,1,"{36102: 6, 55266: 7, 73387: 1, 68114: 1, 39341...","{36102: 0.043478260869565216, 55266: 0.0507246..."
1,"[harry, potter, order, phoenix]","[door, end, silent, corridor, haunting, harry,...","[j, k, rowling]","[sirius, black, draco, malfoy, ron, weasley, p...","[hogwarts, school, witchcraft, wizardry, londo...",https://www.goodreads.com/book/show/2.Harry_Po...,2,"{15105: 5, 30249: 2, 21109: 1, 74991: 1, 46794...","{15105: 0.029069767441860465, 30249: 0.0116279..."
2,"[kill, mockingbird]","[unforgettable, novel, childhood, sleepy, sout...","[harper, lee]","[scout, finch, atticus, finch, jem, finch, art...","[maycomb, alabama]",https://www.goodreads.com/book/show/2657.To_Ki...,3,"{8063: 3, 66657: 3, 53414: 1, 46147: 1, 60450:...","{8063: 0.026785714285714284, 66657: 0.02678571..."
3,"[pride, prejudice]","[since, immediate, success, pride, prejudice, ...","[jane, austen]","[mr, bennet, mrs, bennet, jane, bennet, elizab...","[united, kingdom, derbyshire, england, england...",https://www.goodreads.com/book/show/1885.Pride...,4,"{31808: 2, 2328: 2, 33917: 1, 75740: 1, 34203:...","{31808: 0.01652892561983471, 2328: 0.016528925..."
4,[twilight],"[three, things, absolutely, positive, first, e...","[stephenie, meyer]","[edward, cullen, jacob, black, laurent, renee,...","[forks, washington, phoenix, arizona, washingt...",https://www.goodreads.com/book/show/41865.Twil...,5,"{35457: 2, 69085: 1, 67512: 1, 12674: 1, 28159...","{35457: 0.029411764705882353, 69085: 0.0147058..."

In [20]:
from collections import defaultdict
inverted_index_new =  defaultdict(list)

In [21]:

for i in range(len(df)):
    for keys,values in df['All Words'][i].items():
        inverted_index_new[keys].append(i)

In [22]:
with open('inverted_index_new.json', 'w') as fp:
    json.dump(inverted_index_new, fp)

In [23]:
import math
idf = {}
for k, v in vocab.items():
    idf[v] = math.log(len(df["All Words"])/len(inverted_index_new[v]))
with open("idf.json", "w", encoding = "utf8") as i_d_f:
    i_d_f.write(json.dumps(idf))

In [24]:
def tf_idf(docid, termid):
    return((df["All Words"][docid][termid]*idf[termid])/sum(df["All Words"][docid]))

In [25]:
df.head(1)

,title,plots,author,characters,settings,url,index,All Words,TF
0,"[hunger, games]","[could, survive, wild, every, one, make, sure,...","[suzanne, collins]","[katniss, everdeen, peeta, mellark, cato, hung...","[district, panem, capitol, panem, panem]",https://www.goodreads.com/book/show/2767052-th...,1,"{36102: 6, 55266: 7, 73387: 1, 68114: 1, 39341...","{36102: 0.043478260869565216, 55266: 0.0507246..."

In [26]:
norm = []
for i in range(len(df)):
    s = 0
    for word in df["All Words"][i].keys():
        s = s + (df["TF"][i][word]*idf[word])**2
    norm.append(s**(1/2))
df["Norm"] = norm

<ipython-input-26-71b3cd48d360>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Norm"] = norm

In [27]:
df.head(1)

,title,plots,author,characters,settings,url,index,All Words,TF,Norm
0,"[hunger, games]","[could, survive, wild, every, one, make, sure,...","[suzanne, collins]","[katniss, everdeen, peeta, mellark, cato, hung...","[district, panem, capitol, panem, panem]",https://www.goodreads.com/book/show/2767052-th...,1,"{36102: 6, 55266: 7, 73387: 1, 68114: 1, 39341...","{36102: 0.043478260869565216, 55266: 0.0507246...",0.660595

In [28]:
inverted_index_2 = defaultdict(list)
for k, v in inverted_index_new.items():
    for l in v:
        inverted_index_2[k].append((l, tf_idf(l,k)/df["Norm"][l]))
        
with open("inverted_index_2.json", "w", encoding = "utf8") as i_d_2:
    i_d_2.write(json.dumps(inverted_index_2))

# 2.2.2 Execute the query

In [29]:
def SearchEngine2(dataset):
    query = input()
    if query == "":
        return("Please input again!")
    query=query.split(" ")
    books = list(dataset.index)
    books = set(books)

    vocab=json.loads(open("vocabulary.json").read())
    inverted_index_new = json.loads(open("inverted_index_new.json").read())
    inverted_index_2=json.loads(open("inverted_index_2.json").read())
    Inverse_Document_Frequency = json.loads(open("idf.json").read())
    # Query whether the search keyword exists in the vocabulary
    for word in query:
        if word in vocab.keys():
            query[query.index(word)]=(vocab[word])
        else:
            print("word Not found")
    query_vec = {}
    #Compute tfidf
    for item in query:
        query_vec[item]=  Term_Frequency(Counter(query))[item]*Inverse_Document_Frequency[str(item)]

    for word in query: 
        books = books.intersection(inverted_index_new[str(word)])
    dataset = dataset.drop(index=dataset.index.difference(books))
    
    
    doc_vec = {}
    
    for book in books:
        vec = []
        for word_ in query:
            index = inverted_index_2[str(word_)]
            for i in range(len(index)):
                if index[i][0] == book:
                    vec.append(index[i][1])
        doc_vec[book] = vec
    
    def dot(vector_1, vector_2):
        sum = 0
        for i in range(len(vector_1)):
            sum = sum + vector_1[i]*vector_2[i]
        return(sum)
    def norm(vector):
        if len(vector) > 1:
            add = 0
            for i in range(len(vector)):
                add = add + vector[i]**2
            return add**(1/2)
        else:
            return(vector)
    # Compute Cosine similarity
    similarity = {}
    for book in books:
        if isinstance(norm(list(query_vec.values())), float):
            similarity[book] = dot(list(query_vec.values()),doc_vec[book])/(norm(list(query_vec.values()))*norm(doc_vec[book]))
        else:
            similarity[book] = dot(list(query_vec.values()),doc_vec[book])/(norm(list(query_vec.values()))[0]*norm(doc_vec[book]))

    the_col = []
    for i in range(len(dataset)):
        for k, v in similarity.items():
            if dataset.index[i] == k:
                the_col.append(similarity[k])

    dataset["Similarity"] = the_col
    truth = []
    for book_d in books:
        if dataset["Similarity"][book_d] in heapq.nlargest(5,dataset["Similarity"]):
            truth.append(book_d)
    newdataset = dataset.drop(index=dataset.index.difference(truth))
    return(newdataset[['title','plots','url','Similarity']].sort_values(by = 'Similarity',axis = 0,ascending = False))

In [38]:
SearchEngine2(dataset)

harry door

,title,plots,url,Similarity
12885,Sheet Music: The Chronicles of Narnia - Prince...,(Piano/Vocal/Guitar Songbook). All nine songs ...,https://www.goodreads.com/review/show/123110062,0.954600
1,Harry Potter and the Order of the Phoenix,There is a door at the end of a silent corrido...,https://www.goodreads.com/book/show/2.Harry_Po...,0.859881
2606,Grave Peril,An alternative cover edition with a different ...,https://www.goodreads.com/review/show/133867511,0.845448

# 3. Define a new score!

The third engine allows the user to enter two new option parameters in addition to the free text as before,
the author and the rating value.

Therefore, as before, the engine recovers all the documents containing the free text in the plot using the reversed index.

Then it calculates two distance measure to sort the results:

1. **edit distance** between the author inserted by the user and the authors found normalizing in order to obtain a number between 0 and 1.

2. the distance between the rating desired by the user and the rating of the results as the absolute distance, normalizing in order to obtain a number between 0 and 1. 

In the end it compute the mean between these two distances and defines the new similarity as $1 - distance$.

For maintaining the top-k documents we use a **priority queue** based on the code defined in the python documentation, using the **heap** data structure.

In [134]:
import editdistance
import itertools
from heapq import *

In [174]:
pd.set_option('display.max_colwidth', None)

In [235]:
df = pd.read_csv('books_dataset.tsv', sep='\t', index_col = 'number')

In [236]:
#handler the input output from user to search engine
def search_engine3_io():
    plot = input('Insert words in plot:')
    if not plot:
        input('Please insert words in plot:')
    author = input('insert author:')
    ratingValue = input('insert a rating value:')
    if not author and not ratingValue:
        return search_engine_3(dataset, inverted_index, plot) 
    if not author and ratingValue:
        return search_engine_3(dataset, inverted_index, plot, ratingValue)
    if author and not ratingValue:
        return search_engine_3(dataset, inverted_index, plot, author)
    if author and ratingValue:
        return search_engine_3(dataset, inverted_index, plot, author, ratingValue)

In [364]:
def compute_distance(query_author, query_rating_value, num_doc, df):
    if not query_author: # the author has not been required
        distance_author = 1
    else: #compute the edit distance from the author normalized 
        author_doc = df.loc[num_doc,'author']
        distance_author = editdistance.eval(author_doc, query_author)
        distance_author /= len(author_doc) #normalization
        
    #compute the distance from the rating values nomralized 
    rating_value_doc = df.loc[num_doc,'ratingValue']
    rating_value_distance = round(abs(query_rating_value - rating_value_doc),2)
    rating_value_distance /= 5 #normalization
    
    #retun the mean value
    return round(0.5*distance_author + 0.5*rating_value_distance,2)

In [328]:
def add_doc(pq,doc_num,distance=0):
    'Add a new document'
    count = next(counter)
    entry = [distance, count, doc_num]
    entry_finder[doc_num] = entry
    heappush(pq, entry)    
    
def pop_doc(pq):
    'Remove and return the lowest priority doc'
    distance, count, doc = heappop(pq)
    return [doc, distance]

In [315]:
#build a priority queue
def build_pq(pq,df, inverted_index, plot='', query_author='', query_rating_value=5):
    docs_num_list = search_engine(df, inverted_index, plot)       
    for num_doc in docs_num_list:
        add_doc(pq,num_doc, compute_distance(query_author, query_rating_value,num_doc,df))
    return pq

In [376]:
def search_engine_3(k,df, inverted_index, plot='', query_author='', query_rating_value=5):
    pq = []                         
    entry_finder = {}
    counter = itertools.count()
    pq = build_pq(pq,df, inverted_index, plot, query_author, query_rating_value)
    
    doc_result = k*[None]
    distance_doc_result = k*[None]
    #retrieve the max 
    for i in range(k):
        doc_result[i],distance_doc_result[i] =  pop_doc(pq)
    df_result = df.loc[doc_result,['title','author','ratingValue','plots','url']]
    similarity = [1 - x for x in distance_doc_result]
    df_result['Similarity'] = similarity
    return df_result

In [377]:
search_engine_3(5,df, inverted_index, plot='pride', query_author='austen', query_rating_value=4)

,title,author,ratingValue,plots,url,Similarity
number,,,,,,
377,Mansfield Park,Jane Austen,3.86,"Adopted into the household of her uncle, Sir Thomas Bertram, Fanny Price grows up a meek outsider among her cousins in the unaccustomed elegance of Mansfield Park. Soon after Sir Thomas absents himself on estate business in Antigua (the family's investment in slavery and sugar is considered in the Introduction in a new, post-colonial light), Mary Crawford and her brother Henry arrive at Mansfield, bringing with them London glamour, and the seductive taste for flirtation and theatre that precipitates a crisis. While Mansfield Park appears in some ways to continue where Pride and Prejudice left off, it is, as Kathryn Sutherland shows in her illuminating Introduction, a much darker work, which challenges 'the very values (of tradition, stability, retirement and faithfulness) it appears to endorse'. This new edition provides an accurate text based, for the first time since its original publication, on the first edition of 1814.",https://www.goodreads.com/review/show/2756260,0.76
4,Pride and Prejudice,Jane Austen,4.26,"Since its immediate success in 1813, Pride and Prejudice has remained one of the most popular novels in the English language. Jane Austen called this brilliant work ""her own darling child"" and its vivacious heroine, Elizabeth Bennet, ""as delightful a creature as ever appeared in print."" The romantic clash between the opinionated Elizabeth and her proud beau, Mr. Darcy, is a splendid performance of civilized sparring. And Jane Austen's radiant wit sparkles as her characters dance a delicate quadrille of flirtation and intrigue, making this book the most superb comedy of manners of Regency England.",https://www.goodreads.com/book/show/1885.Pride_and_Prejudice,0.75
358,The Complete Novels,Jane Austen,4.56,"This volume contains the six major novels: ""Emma"", ""Mansfield Park"", ""Northanger Abbey"", ""Persuasion"", ""Sense and Sensibility"", ""Pride and Prejudice"".",https://www.goodreads.com/review/show/2506231654,0.72
29798,The Gladiator's Master,Fae Sutherland,3.90,"When Roman politician Caelius inherits a stable of gladiators, there is one who captures his attention above the others...one whose eyes gleam with hate, pride and desire.Forced into slavery by Roman greed, Gaidres can barely conceal his contempt toward his new Dominus. Gaidres has a plan: kill Caelius and end the lineage of the Roman family that enslaved him. For his plan to succeed, he must make a show of respect and obedience--even when called on to service his master's desires.Gaidres is shocked to learn that in the confines of his quarters, Caelius doesn't want to dominate his slave, but to be taken by him. The sex is explosive as they break society's taboos and, to Gaidres's dismay, they form a tenuous relationship. Even when Caelius learns of Gaidres's plans for revenge, he knows he can't live without his perfect lover. Is he willing to risk it all to tame his gladiator's heart?88,000 words",https://www.goodreads.com/review/show/337968509,0.63
20084,Heretics,G.K. Chesterton,4.18,"G. K. Chesterton, the ""Prince of Paradox,"" is at his witty best in this collection of twenty essays and articles from the turn of the twentieth century. Focusing on ""heretics"" — those who pride themselves on their superiority to Christian views — Chesterton appraises prominent figures who fall into that category from the literary and art worlds. Luminaries such as Rudyard Kipling, George Bernard Shaw, H. G. Wells, and James McNeill Whistler come under the author's scrutiny, where they meet with equal measures of his characteristic wisdom and good humor.In addition to incisive assessments of well-known individuals (""Mr. Rudyard Kipling and Making the World Small"" and ""Mr. H. G. Wells and the Giants""), these essays contain observations on the wider world. ""On Sandals and Simplicity,"" ""Science and the Savages,"" ""On Certain Modern Writers and the Institution of the Family,"" ""On Smart Novelists and the Smart Set,"" and ""Slum Novelists and the Slums"" reflect the main themes of Chesterton's life's work. Heretics roused the ire of some critics for censuring contemporary philosophies without providing alternatives; the author responded a few years later with a companion volume, Orthodoxy. Sardonic, jolly, and generous, both books are vintage Chesterton.He is criticizing those who hold incomplete and inadequate views about ""life, the universe, and everything."" He is, in short, criticizing all that host of non-Christian views of reality, as he demonstrated in his follow-up book Orthodoxy. The book is both an easy read and a difficult read. But he manages to demonstrate, among other things, that our new 21st century heresies are really not new because he himself deals with most of them.",https://www.goodreads.com/review/show/58292307,0.62